.header {
    background-color: #fff;
    padding: 12px 0px;
}

.header-logo-title-section {
    display: flex;
    align-items: center;
    max-width: 60%;
    margin: auto;
    cursor: pointer;
}

.header-logo {
    width: 112px;
    height: 72px;
}

.header-title {
    letter-spacing: 0.3px;
}
