.bookings-list {
    background-color: #fff;
    background-color: #D3D3D3;
    border-radius: 6px;
}

thead {
    border: none;
}

tr {
    border: none;
}

th {
    padding: 10px 32px;
}

td {
    padding: 8px 40px;
    text-align: center;
    background-color: #fff;
}

tr:last-child {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.bookings-list-del-btn {
    border: none;
    background-color: red;
    color: #fff;
    padding: 6px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 6px;
}

.bookings-list-del-btn:hover {
    background-color: #D2122E;
}