/* General component configs */

.bookings {
    max-width: 60%;
    margin: auto;
    margin-top: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
}

.Loading-text {
    color: #fff;
    margin-top: -90px;
    font-size: 48px;
}
