/* General component configs */

.bookings {
    max-width: 60%;
    margin: auto;
    margin-top: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
}

.loading-text {
    color: #fff;
    margin-top: -110px;
    margin-bottom: 30px;
    font-size: 48px;
}
